html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #595959;
    background-color: #f5f5f5;
    font-size: 16px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    min-height: 100%;
}

img {
    max-width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
button,
textarea {
    outline: none;
}
input,
textarea,
button,
.page-header {
    border: none;
}
/*************************************************repeat style**********************************************/
.logo a,
.menu-item a,
.banner-title,
.banner-desc,
.search-button,
.button:hover,
.article-desc,
.sorting-button.active {
    color: #fff;
}
.search-field,
.search-button,
.search-wrap,
.article,
.button,
.comment-submit,
.themes-item,
.tab-content,
.footer-item,
.page-numbers {
    border-radius: 5px;
}
.search-button,
.search-field,
.button,
.sorting-label,
.article .category-name,
.pagination,
.breadcrumbs li,
.tab + label,
.comment-group input,
.comment-group textarea,
.comment-group label,
.article-title,
.search-result {
    font-size: 20px;
}
.header,
.banner,
.search-form,
.article-hover,
.slick-list,
.slick-track,
.naccs .menu-tab div,
.article-block,
.article-desc,
.article-button,
ul.nacc,
.select-category {
    position: relative;
}
.search-category,
.banner-img,
.banner-img:before,
.article-hover,
.slick-prev,
.slick-next,
.naccs .menu-tab div span.light,
ul.nacc li,
.search-result,
.select-category i {
    position: absolute;
}
.search-category,
.banner-img,
.banner-img:before,
.article-hover {
    left: 0;
    right: 0;
    bottom: 0;
}
.menu,
.search-wrap,
.search-list,
.article-info,
.article-button,
.themes-item .category-link,
.breadcrumbs,
.themes-list,
.tab-wrap,
.tableinfo .wpas-label,
.header-block,
.article-header,
.search-content a {
    display: flex;
}
.select-category,
.search-list,
.article,
.popular-categories,
.article-single,
.page-numbers:hover,
.page-numbers.current,
.tab:checked + label,
.page-info-wrap,
.single .wrap-breadcrumbs,
.error404 .page-content,
.page .page-content {
    background-color: #fff;
}
.menu-item,
.search-list,
.search-wrap,
.article-desc {
    padding: 20px;
}
.select-category i,
.device-selections i,
.button,
.article:hover .article-hover,
a,
.sub-menu,
.search-category,
.page-numbers:hover,
.page-numbers.current,
.article-hover,
.device-hide,
.preview-template,
.loader,
.search-result,
.menu-item-has-children a:after {
    transition: all 0.3s ease;
}
.banner-img,
.banner-img:before,
.slick-track,
.naccs .menu-tab div.active span.light,
.article-hover {
    top: 0;
}
.themes-item .category-name,
.page-numbers,
.footer-item,
.footer-title {
    display: inline-block;
}
.article-info {
    padding: 10px;
}
.header,
.search-wrap,
.button,
.footer {
    background-color: #073f61;
}
.header,
.slick-prev,
.slick-next {
    z-index: 1;
}
.search-category,
ul.nacc li,
.article-hover,
.article-desc,
.article-button,
.search-result {
    opacity: 0;
}
.active .search-category,
.article:hover .article-hover,
ul.nacc li.active,
.article:hover .article-desc,
.article:hover .article-button,
.active.search-result {
    opacity: 1;
}
.article:hover .article-desc,
.article:hover .article-button {
    transform: translate(0,0);
}
.article .article-desc,
.article .article-button {
    transform: translate(0,20px);
}
.button,
.pagination,
.article-desc,
.popular-categories,
.comment-title,
.error-404 {
    text-align: center;
}
.banner-desc,
.device-selections {
    font-size: 30px;
}
.category-link:hover,
.breadcrumbs a:hover,
.device-selections i:hover,
.menu-item a:hover,
.page-numbers:hover,
.page-numbers.current,
.device-selections i:hover,
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active,
a:hover,
.item-sub-menu:hover .item-link,
.device-selections i.active {
    color: #ff8c00;
}
.device-tablet img,
.device-mobile img,
.tab,
.monitor-img,
.tablet-img,
.mobile-img,
.select-tax {
    display: none;
}
.button:hover,
.popular-categories .button:hover,
.sorting-button.active {
    background-color: #FF8C00;
}
.button,
.sorting-label,
.pagination,
.breadcrumbs li,
.tableinfo tbody tr td:first-child,
.menu {
    font-weight: 500;
}
.button {
    border: 2px solid #337ab7;
    color: #337ab7;
    display: inline-block;
    width: 170px;
    margin-top: 20px;
    padding: 15px 0;
    position: relative;
    background-color: #fff;
    line-height: 1.5;
}
.button:hover,
.sorting-button.active {
    border: 2px solid #FF8C00;
}
.header-home,
.search-form {
    box-shadow: 2px 3px 50px 0 black;
}
.select-category,
.page-desc,
.tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3),
.tableinfo tbody tr td:last-child,
.comment-group label {
    color: #656e7a;
}
.themes-item,
.button-catalog,
.tab + label,
.tableinfo tr:nth-child(even) td,
.footer-title:after {
    background-color: #f5f5f5;
}
.search-list,
.themes-list,
.tab-wrap {
    flex-wrap: wrap;
}
.pagination,
.line:after,
.button-catalog,
.comment-group,
.footer-title:after {
    display: block;
}
.page-numbers:hover,
.page-numbers.current,
.footer-item:hover {
    border: 2px solid #ff8c00;
}
/**********************************************header*************************************************/
.header {
    padding: 10px 0;
    flex: 0 1 auto;
}
.menu {
    justify-content: flex-end;
    text-transform: uppercase;
}
.sub-menu {
    position: absolute;
    top: 55px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow:  0 0 5px 0 #000000;;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}
.item-sub-menu {
    position: relative;
}
.menu-item-has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}
.sub-menu li {
    padding: 5px;
}
.sub-menu a {
    color: #337ab7;
}
.menu-item-has-children i {
    margin-left: 5px;
    transition: all 0.3s ease;
}
.menu-item-has-children:hover i {
    transform: rotate(180deg);
    color: #fff;
}
.menu-item-has-children > a:after {
    content: '\f107';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    margin-left: 5px;
}
.menu-item-has-children:hover > a:after {
    transform: rotate(180deg);
}
.banner-img:before {
    content: '';
    background-color: #00000047;
}
.banner .container {
    padding-top: 150px;
    padding-bottom: 200px;
}
.banner-desc {
    margin-top: 30px;
}
.banner-title {
    font-size: 55px;
}
.banner-img {
    background-size: cover;
}
.logo {
    width: 250px;
}
.search-themes {
    width: 65%;
    margin: 50px auto;
}
.search-field {
    padding: 10px;
    margin-right: 20px;
    flex-grow: 1;
}
.search-wrap:before {
    content: '';
    background: url(../img/loader-search.gif) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 57%;
    top: 34%;
    display: none;
}
.loader-search .search-wrap:before {
    display: block;
}
.search-button {
    padding: 10px;
    background-color: #ff8c00;
}
.search-button i {
    margin-left: 5px;
}
.select-category {
    cursor: pointer;
    text-align: left;
    width: 20%;
}
.select-category span {
    width: 100%;
    display: inline-block;
}
.select-category i {
    right: 15px;
    top: 15px;
}
.active .select-category i {
    transform: rotate(180deg);
}
.search-category {
    height: 100%;
}
.search-category,
.search-result {
    top: 110px;
    width: 100%;
    visibility: hidden;
}
.active .search-category,
.active.search-result{
    top: 90px;
    visibility: visible;
}
.search-list {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 10px 50px 0 black;
    padding-bottom: 0;
}
.search-item {
    width: 20%;
    margin-bottom: 20px;
}
.category-link i {
    font-size: 25px;
}
.category-name {
    font-size: inherit;
}
.themes-item .category-name {
    margin-left: 10px;
    align-self: center;
    margin-top: 0;
}
.sorting {
    margin: 0 0 40px;
}
.page-info {
    padding: 25px 0 25px;
}
.page .page-info {
    padding: 0 0 25px;
}
.sorting-button {
    margin: 0 5px;
    padding: 10px;
    font-weight: normal;
    width: auto;
}
.page-desc {
    margin: 0;
    padding: 20px 0 40px;
}
.header-block {
    justify-content: space-between;
    align-items: center;
}
.menu-scroll {
    overflow:  hidden;
}
.search-wrap.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.custom-logo {
    height: auto;
}
/* ******************************************************* search ajax ***************************************************/
.search-result {
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 50px 0 #00000042;
    padding: 5px;
}
.search-content .wp-post-image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.search-content {
    padding: 10px;
    border-bottom: 1px solid #bbbbbb;
}
.search-content:last-child {
    border-bottom: none;
}
.search-wrap.is-search {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.search-info p {
    font-size: 12px;
    color: #595959;
}
.search-info {
    text-align: left;
}
.search-title {
    font-size: 14px;
    margin-bottom: 5px;
}
/* ******************************************************* mobile menu ***************************************************/
.mobile-icon {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.mobile-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.mobile-icon span:nth-child(1) {
    top: 0;
}
.mobile-icon span:nth-child(2),
.mobile-icon span:nth-child(3) {
    top: 18px;
}
.mobile-icon span:nth-child(4) {
    top: 36px;
}
.open + .mobile-icon span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}
.open + .mobile-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open + .mobile-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.open + .mobile-icon span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
.mobile-icon {
    display: none;
}
/* ******************************************************* content ***************************************************/
.main-content {
    padding-bottom: 50px;
    padding-top: 25px;
}
.article {
    margin-bottom: 30px;
}
.article-info,
.article-header {
    justify-content: space-between;
}
.article-header {
    padding: 10px;
}
.article-info i {
    margin-right: 10px;
}
.article:hover {
    box-shadow: 0 7px 14px 0 rgba(77, 93, 109, 0.4);
}
.article-button {
    justify-content: space-around;
    bottom: 10%;
    transition: opacity .4s ease .4s,transform .4s ease .4s;
}
.article-button .button {
    font-size: 16px;
    width: 130px;
}
.popular-categories {
    padding: 25px 0;
}
.themes-item {
    width: 19.146%;
    margin: 5px;
    padding: 10px;
}
.pagination {
    margin-top: 20px;
    margin-bottom: 0;
}
.page-numbers {
    padding: 10px 0;
    color: #000;
    border: 2px solid #3333332b;
    width: 60px;
    height: 50px;
}
.page-numbers:hover {
    box-shadow: 0 2px 15px 0 rgba(77, 93, 109, 0.3);
}
.dots.page-numbers:hover {
    background-color: transparent;
    border: 2px solid #3333332b;
    box-shadow: none;
    color: #000;
}
.current.page-numbers:hover {
    box-shadow: none;
}
.wrap-breadcrumbs,
.wrap-page-title {
    padding: 20px 0;
}
.breadcrumbs li {
    margin-right: 5px;
}
.breadcrumbs li .fa {
    font-size: 15px;
    margin: 0 10px;
}
.article-hover {
    background-color: #073f61d1;
    display: flex;
    flex-direction: column;
}
.article-desc {
    top: 5%;
    transition: opacity .4s ease .2s,transform .4s ease .2s;
    flex: 1 0 auto;
}
.preview-container {
    overflow-y: scroll;
    height: 100%;
}
.preview-container img {
    height: auto;
    width: 100%;
}
.device-selections {
    text-align: right;
}
.device-selections i {
    padding-left: 15px;
}
.device-selections i:hover {
    cursor: pointer;
}
.preview-template {
    margin: 0 auto 80px;
    height: 600px;
    border-radius: 30px;
    padding: 30px;
    background-color: #171e22;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.25);
    position: relative;
}
.device-tablet {
    width: 90%;
}
.device-mobile {
    width: 360px;
}
.device-mobile.preview-template {
    padding: 60px 10px;
}
.preview-template.device-tablet {
    padding-right: 50px;
    padding-left: 50px;
}
.device-tablet.preview-template:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #e6eaed;
    right: 0.6em;
    top: 50%;
    margin-top: -1em;
    bottom: auto;
    left: auto;
    margin-left: 0;
}
.device-mobile .preview-container:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #e6eaed;
    top: auto;
    bottom: 0;
    margin: 15px auto;
    left: 0;
    right: 0;
}
.device-monitor .monitor-img,
.device-tablet .tablet-img,
.device-mobile .mobile-img {
    display: block;
}
.popular-categories .button {
    padding: 10px;
    width: 225px;
    font-size: inherit;
}
.popular-categories .line:after {
    margin: 20px auto 15px;
}
.block-title {
    text-align: center;
}
.line:after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #337ab7;
    margin: 20px auto;
}
.button-catalog {
    margin: 20px auto 0;
}
.device-hide {
    opacity: 0;
}
.loader {
    opacity: 0.5;
}
/********************************************* tabs article ******************************************************/

.tab-wrap {
    position: relative;
    margin: 40px 0;
}
.tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2),
.tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3),
.tab:checked:nth-of-type(4) ~ .tab-content:nth-of-type(4) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab-content:nth-of-type(4),
.tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
    border: solid 2px #f5f5f5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 25px 30px;
    font-size: 18px;
    line-height: 1.75;
}
.tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
    border-right: 2px solid #f5f5f5;
}
.tab-wrap .tab:checked + label {
    cursor: default;
    background-color: #fff;
}
.tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
}
.tab + label {
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -webkit-box-flex: 3;
    flex-grow: 3;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    border-left: 2px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
}
.tab + label:hover {
    background-color: #f9f9f9;
}
.tab-content {
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.article-single-button {
    text-align: center;
    margin-top: 20px;
}
.article-single-button .button:first-child {
    margin-right: 40px;
}
.tableinfo {
    border-collapse: separate;
    overflow: hidden;
    width: 100%;
}
.tableinfo td, .tableinfo th {
    padding: 15px 30px
}
.tableinfo tbody {
    border: solid 2px #f5f5f5;
    border-radius: 10px
}
.tableinfo tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px
}
.tableinfo tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px
}
.tableinfo tbody tr td:last-child {
    border-right: 2px solid #f5f5f5;
}
.tableinfo tbody tr td:first-child {
    border-left: 2px solid #f5f5f5;
    width: 50%;
}
.tableinfo tbody tr:first-child td {
    border-top: 2px solid #f5f5f5
}
.tableinfo tbody tr:last-child td {
    border-bottom: 2px solid #f5f5f5;
}
.tableinfo .wpas-user-profile {
    position: absolute;
    left: 30px
}
.tableinfo .wpas-label {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff!important;
    border-radius: inherit;
    height: inherit
}
.tableinfo tr[class*="wpas-status-"] td:first-child {
    position: relative
}
.tableinfo tr td {
    position: relative
}
.tableinfo tr td i {
    color: #337ab7;
}
iframe {
    border: 0;
}
/********************************************* comment ****************************************************/
.comment-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.comment-group input,
.comment-group textarea {
    width: 100%;
}
.comment-form input:focus, input:active {
    outline: none;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
    border-bottom: solid 2px #337ab7;
}
.comment-group {
    margin-top: 35px;
    position: relative;
}
.comment-group input,
.comment-group textarea {
    padding: 10px 0;
}
.comment-group label {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    font-weight: normal;
}
.comment-group input:focus + label,
.comment-group textarea:focus + label,
.comment-group input.has-value + label,
.comment-group textarea.has-value + label {
    top: -10px;
    font-size: 15px;
}
.comment-form .button {
    margin-top: 35px;
}
.comment-group textarea {
    resize: vertical
}
.page-content input,
.page-content textarea {
    background-color: transparent;
}
.page-content {
    flex: 1 1 auto;
}
.comments-title {
    font-size: 24px;
    margin-bottom: 30px;
}
.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}
.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}
.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}
.comments-list {
    margin-top: 30px;
    position: relative;
}
.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}
.comment-body .comment-wrap,
.comment-head {
    display: flex;
    justify-content: space-between;
}
.comment-info {
    display: flex;
    align-items: center;
}
.comment-awaiting-moderation {
    margin-bottom: 10px;
}
.comments-list li {
    display: block;
    position: relative;
    margin-top: 15px;
}
.comment-respond {
    margin-top: 40px;
    display: none;
}
.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.tab:checked:nth-of-type(4) ~ .tab-content:nth-of-type(4) .comment-respond {
    display: block;
}
.children {
    padding-left: 88px;
    margin-top: 15px;
}
.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-right: 20px;
}
.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}
.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
.comments-list .comment-box {
    width: 92%;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #f5f5f5;
    top: 10px;
    left: -11px;
}
.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}
.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #f5f5f5;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.comment-head i {
    cursor: pointer;
}
.reply {
    line-height: 1;
    display: flex;
    align-items: center;
}
.comment-box .comment-name {
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}
.comment-box .comment-name a {
    color: #283035;
}
.comment-box .comment-head span {
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.comment-error {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}
.comment-error strong {
    color: red;
}
.wpcf7-form-control-wrap {
    position: static;
}
.comment-form  .comment-group .wpcf7-not-valid {
    border-bottom: solid 2px red;
}
span.wpcf7-not-valid-tip {
    display: none;
}
/********************************************* footer ******************************************************/
.copyright {
    text-align: center;
    color: #f5f5f5;
    background-color: #0b0f17;
    padding: 10px;
}
.footer {
    color: #f5f5f5;
    font-size: 18px;
    flex: 0 1 auto;
}
.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-item {
    padding: 5px 10px;
    border: 2px solid #f5f5f5;
    margin-bottom: 10px;
    margin-right: 5px;
}
.footer-item a {
    color: #f5f5f5;
}
.footer-item:hover a {
    color: #ff8c00;
}
.footer-desc p {
    margin: 0;
}
.footer-title:after {
    content: '';
    height: 2px;
    width: 100%;
    margin: 10px 0;
}
.footer-categories {
    margin-top: 5px;
}

/********************************************* services ******************************************************/

.services-title {
    text-align: center;
    margin-bottom: 40px;
}
.service-block {
    background-color: #f5f5f5;
    padding: 10px;
    color: #243238;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid #073f611f;
    height: 355px;
    position: relative;
}
.service-icon {
    font-size: 35px;
    color: #337ab7;
}
.service-title {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
}
.service-price {
    margin: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.service-button {
    padding: 10px;
    background-color: #ff8c00;
    width: 100%;
    border-radius: 0 0 5px 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.service-wrap:hover {
    box-shadow: 0 8px 23px 0 rgba(77, 87, 101, 0.19);
}
.service-wrap {
    transition: all 0.3s ease;
    margin-bottom: 30px;
}
.services-row {
    margin-bottom: 30px;
}
.form-order .comment-form {
    width: 80%;
}
.form-order .modal-body {
    padding-bottom: 40px;
}
.modal-title {
    display: inline-block;
    font-size: 20px;
}
.modal-header .close {
    margin-top: 5px;
}
.modal-header {
    text-align: center;
}