@media (max-width: 1200px) {
    .search-themes {
        width: 80%;
    }
    .themes-item {
        width: 18.97%;
    }
    .article-desc {
        font-size: 20px;
    }
}
@media (max-width: 992px) {
    .menu {
        position: fixed;
        top: 68px;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        margin: 0;
        background-color: #073f61;
        font-size: 20px;
        overflow: auto;
    }
    .menu-item {
        width: 100%;
    }
    .sub-menu {
        position: static;
        background-color: #073f61;
        box-shadow: none;
        font-size: 16px;
        text-align: left;
        display: none;
    }
    .header-home .sub-menu {
        box-shadow: none;
    }
    .mobile-icon {
        display: block;
    }
    .menu-item-has-children:hover a:after {
        transform: none;
    }
    .menu-item-has-children > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .mobile-menu .active .sub-menu {
        opacity: 1;
        visibility: visible;
        display: block;
        padding-bottom: 0;
    }
    .menu-item-has-children {
        text-align: center;
        padding: 20px;
    }
    .menu-item-has-children.active {
        padding-bottom: 0;
    }
    .sub-menu a {
        color: #fff;
    }
    .sub-menu li {
        padding: 10px;
    }
    .menu {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        border-top: 2px solid #fff;
    }
    .menu.open {
        opacity: 1;
        visibility: visible;
    }
    .mobile-menu .active a:after {
        transform: rotate(180deg);
    }
    .mobile-menu .active > a {
        color: #ff8c00;
    }
    .search-themes {
        width: 100%;
    }
    .themes-item {
        width: 23.66%;
    }
    .article-desc {
        font-size: 16px;
    }
    .footer .col-md-4 {
        margin-bottom: 20px;
    }
    .tab + label {
        font-size: 18px;
    }
    .device-monitor,
    .device-tablet {
        height: 500px;
    }
    .device-tablet {
        width: 100%;
    }
    .children {
        padding-left: 20px;
    }
    .comment-form {
        width: 100%;
    }
    .logo {
        position: relative;
        z-index: 1;
    }
}
@media (max-width: 768px) {
    .select-category,
    .search-button span {
        display: none;
    }
    .search-button i {
        margin: 0;
    }
    .search-button {
        padding: 10px 15px;
    }
    .themes-item {
        width: 40%;
    }
    .themes-list {
        justify-content: center;
    }
    .article {
        margin-left: 50px;
        margin-right: 50px;
    }
    .article-block img {
        width: 100%;
    }
    .tab-wrap .tab + label:nth-child(4) {
        border-top-right-radius: 5px;
        border-right: 2px solid #f5f5f5;
    }
    .tab + label {
        width: 35%;
    }
    .tab:last-of-type:not(:first-of-type) + label {
        border-top-right-radius: 0;
    }
    .comment-form {
        width: 100%;
    }
    .sorting {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sorting-button {
        width: 200px;
        margin: 10px 0;
    }
    .search-wrap:before {
        right: 100px;
    }
    .service-wrap {
        width: 300px;
        margin: 0 auto 30px;
    }
}
@media (max-width: 500px) {
    .mobile-icon {
        right: 10px;
        width: 50px;
        height: 27px;
    }
    .logo {
        width: 200px;
    }
    .mobile-icon span {
        height: 5px;
    }
    .mobile-icon span:nth-child(2),
    .mobile-icon span:nth-child(3) {
        top: 10px;
    }
    .mobile-icon span:nth-child(4) {
        top: 21px;
    }
    .search-field {
        font-size: 12px;
    }
    .themes-item {
        width: 70%;
    }
    .article {
        margin-right: 0;
        margin-left: 0;
    }
    .tab + label {
        width: 100%;
    }
    .tab-wrap .tab + label:nth-child(2) {
        border-top-right-radius: 5px;
        border-right: 2px solid #f5f5f5;
    }
    .tab-wrap .tab + label:nth-child(4) {
        border-top-right-radius: 0;
    }
    .tab-wrap .tab + label:nth-child(6) {
        border-right: 2px solid #f5f5f5;
    }
    .article-single-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-single-button .button:first-child {
        margin-right: 0;
    }
    .tableinfo td {
        padding: 15px 10px;
    }
    .preview-template {
        padding: 20px;
    }
    .preview-template.device-tablet {
        padding-right: 30px;
        padding-left: 30px;
    }
    .device-tablet.preview-template:before {
        width: 1em;
        height: 1em;
        right: 0.45em;
    }
    .device-mobile {
        width: 300px;
    }
    .comment-box .comment-head span {
        display: none;
    }
    .menu {
        top: 55px;
    }
}
@media (max-width: 375px) {
    .device-mobile {
        width: 100%;
    }
    .article-desc {
        font-size: 14px;
    }
    .service-wrap {
        width: 100%;
    }
}